@import '../main-view/flix-for-fun-styles.scss';

.card-body {
    background-color: $primary-color;
    color: $secondary-color;
}

.movie-details-button {
    text-align: center;
    margin: 0 auto;
    color: white;
    text-decoration: underline;
}

.movie-title {
    color: white;
}