$primary-color:rgb(29, 29, 68);
$secondary-color: #cc0066;

.card-body {
    background-color: $primary-color;
    color: $secondary-color;
}

.movie-details-button {
    text-align: center;
    margin: 0 auto;
    color: $secondary-color;
    text-decoration: underline;
}

.movie-title {
    color: white;
}