.remove-movie {
    padding: 2px;
    font-size: 10px;
}

.favorite-movie-thumbnail{
    width: 100px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.favorite-movie-title{
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}
