$primary-color: steelblue;
$secondary-color: #cc0066;

.remove-movie {
    padding: 2px;
    font-size: 10px;
}

.favorite {
    color: white
}

.favorite-movie-thumbnail{
    width: 100px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.favorite-movie-title{
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.favorite-movies, .profile-details{
    background-color: rgb(29, 29, 68);
    width: 20vw;
}
