@import '../main-view/flix-for-fun-styles.scss';

.movie-view {
    margin: 0 auto;
    text-align: center;
}

.movie-poster {
    width: 400px;
    height: auto;
}

.image-poster {
    font-size: 40px;
}

.movie-description,
.movie-genre,
.movie-director {
    font-size: 20px;
    max-width: 50vw;
}

.label {
    color: $secondary-color;
    font-weight: 500;
}

.value {
    color: white;
}

.movie-details {
    background: rgb(29, 29, 68);
}

.add-to-favorite {
    background-color: $secondary-color;
}

.custom-button {
    color: white;
    background: $secondary-color;
}
