$secondary-color: #cc0066;

label {
    font-size: 20px;
}

input {
    margin: 5px;
}

button {
    font-size: 20px;
    margin: 10px;
}

.login-form {
    text-align: center;
}

.login-span {
    font-size: 20px;
    color: $secondary-color;
    font-weight: 500;
}