$secondary-color: #cc0066;

label {
    font-size: 20px;
}

input {
    margin: 5px;
}

button {
    font-size: 20px;
    margin: 10px;
}

.login-form {
    text-align: center;
}

.go-to-registration-button {
    background: $secondary-color;
}